h1{
    color : red;
}
  #home-intro{
    text-align: center;

    /* border: 5px;
    //border-color: black;
    border-style: solid;*/
    border: 5px solid navy;
  }
     #home-intro:hover{
        background-color: palevioletred;
     }
    #p2{
        color: blue;
    }

    #nav{
        text-align: center;
        background-color: brown;
        height: 25px;
        padding-top: 5px;
    }
    
    #nav a{
        margin: 0px 5px;
        text-decoration: none;
        color: white;
    }
  